h1{
    color: blue;
    text-align: center;
}

.text-color{
    color: green;
}

.aligncenter {
    text-align: center;
}

body {
    background-color: lightcyan
}

h1,h2,h3{
    font-family: "Georgia";
}

p {
    line-height: 20px; 
}

b {
    color: lightcoral;
}

#caps{
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div > img {
    float: left;
    padding: 8px;
}

ol {
    list-style-type: disc;
}